.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
}

.navbar a{
    color:white;
    text-decoration: none;
    padding: 0px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%) ;
}

.subforum-icon img {
    width: 100px; /* Adjust width */
    height: auto; /* Maintain aspect ratio */
}