.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color:white;
    text-decoration: none;
    padding: 0px;
    display: block;
    text-align: center;
}
.navbar li{
    float: left;
    margin: 20px;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%) ;
    padding: 20px;
}
/* global styles */

*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: Arial, sans-serif;
    background-color: rgb(73, 73, 73);
    color: #dadada;
}

a{
  color: #ca5757;
  font-weight: bolder;
  text-decoration: none;
}

h1{
    font-size: 16px;
    font-weight: bolder;
}

/* home.html */

.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top: 20px;
}

.subforum-title{
    background-color:#525252;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    margin: 40px;
    box-shadow: 0 -2px 5px rgba(15, 15, 15, 0.5)
}

.subforum-description{
    margin-block: 0;
}

.content{
    background-color: #525252;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 -2px 5px rgba(15, 15, 15, 0.5)
}

.subforum-row{
    display: grid;
   grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    background-color:#525252;
    box-shadow: 0 -2px 5px rgba(15, 15, 15, 0.5)
}

.subforum-description{
    background-color:#525252;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}

.center{
        display: flex;
        justify-content: center;
        align-items: center;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 10px;
    width: 100%;
    color: #ffffff;
    text-align: right;
    padding: 10px;
}

.subforum-icon img {
    width: 100px;
    height: auto; /* keep aspect ratio */
    border-radius: 5px;
    box-shadow: 0 0 20px 7px rgba(255, 201, 53, 0.6); /* AURA */
    display: block;
}

.subforum-divider{
    display: none;
}

/* Responsive styles */
/* Adjustments for smaller screens */
@media screen and (max-width: 460px) {
    .container {
        margin: 10px;
        padding: 12px; 
    }
    .subforum-row{
        display: grid;
       grid-template-columns: 25% 75%;
       grid-template-rows: 65% 35%;
    }
    
    .subforum-stats{
        padding: 12px;
    }

    .subforum-column{
        padding: 12px;
        text-align: center;
        border-radius: 5px;
        margin: 4px;
        background-color:#525252;
        box-shadow: 0 -2px 5px rgba(15, 15, 15, 0.5)
    }

    .subforum-divider{
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, #525252, #ca5757, #525252);
    }
}

/* Adjustments for tablet screens */

@media screen and (min-width: 461px) and (max-width: 768px) {
    .container {
        margin: 15px;
        padding: 15px; 
    }
    .subforum-row{
        display: grid;
       grid-template-columns: 10% 60% 10% 20%;
    }
    
    .subforum-icon img {
        width: 150px;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 0 15px 5px rgba(255, 201, 53, 0.5);
        display: block;
    }
    .html{
        font-size: 16px;
    }
    .h1{
        font-size: 18px;
    } 
}

/* navbar */

.header{
    margin-inline: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Space between logo and nav items */
    align-items: center;
    padding: 10px 20px;
    background-color: #525252;
}

.navigation {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: flex-end; /* Align nav items to the right */
}

.nav-list li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    text-align: center;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 10%);
}

.close-icon i {
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin-left: auto;
}